body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* background: linear-gradient(180deg, red, yellow) no-repeat; */
    /* background-color: #08AEEA ; */
    /* background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); */
    /* background-repeat: no-repeat; */
    /* background-image: linear-gradient(0deg, rgb(0, 247, 255) 0%, rgb(0, 255, 64) 100%); */
    /* height: 100vh;
    filter: blur(5%) */
}

#opponent-choice {
    /* border-radius: 50%; */
    width: 240px;
    height: 240px;
    /* background-color: cyan; */
    margin-top: 10px;
}

#your-choice {
    /* border-radius: 50%; */
    width: 240px;
    height: 240px;
    /* background-color: yellow; */
    margin-top: 10px;
}

#choices {
    width: 240px;
    height: 80px;
    /* background-color: green; */
    margin: 0 auto;
    margin-top: 10px;

}

#choices img {
    width: 80px;
    height: 80px;
}

/* 
#opponent-score{
    margin-top: 30px;
}
 */

p{
    font-size: 15px;
    color: rgb(255, 0, 0);
}

.icon{
    font-size: 45px;

    cursor: pointer;
}




@media screen and (max-width:500px) {
    #choices img {
        width: 60px;
        height: 60px;
    }

    #choices {
        width: 240px;
        height: 80px;
        /* background-color: green; */
        margin: 0 auto;
        margin-top: 10px;

    }


    #opponent-choice {
        /* border-radius: 50%; */
        width: 200px;
        height: 200px;
        /* background-color: cyan; */
        margin-top: 10px;
    }

    #your-choice {
        /* border-radius: 50%; */
        width: 200px;
        height: 200px;
        /* background-color: yellow; */
        margin-top: 10px;
    }

    body {
        /* /* font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        /* background: linear-gradient(180deg, red, yellow) no-repeat; */
        /* background: linear-gradient(180deg, #457254, #179842);
        background-repeat: no-repeat;*/
        /* background: linear-gradient(120deg, red, yellow);
        height: 100vh; */
    } 
    

}